// Animation
@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

// Box Sizing
@mixin box-sizing($args) {
  -webkit-box-sizing: $args;
  -moz-box-sizing: $args;
  box-sizing: $args;
}

// Box shadow
@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}


// Flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($val) {
  -webkit-box-flex: $val;
  -moz-box-flex:  $val;
  -webkit-flex:  $val;
  -ms-flex:  $val;
  flex:  $val;
}

@mixin flex-basis($val) {
  -webkit-flex-basis: $val;
  flex-basis: $val;
}

@mixin flex-shrink($val) {
  -webkit-flex-shrink: $val;
  flex-shrink: $val;
}

@mixin flex-grow($val) {
  -webkit-flex-grow: $val;
  flex-grow: $val;
}

@mixin flex-wrap($val) {
  -webkit-flex-wrap: $val;
  flex-wrap: $val;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin align-self($align) {
  -webkit-align-self: $align;
  align-self: $align;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}